aiofiles==22.1.0
aiosqlite==0.17.0
certifi==2022.12.7
charset-normalizer==2.1.1
docopt==0.6.2
httptools==0.5.0
idna==3.4
iso8601==1.1.0
Jinja2==3.1.2
MarkupSafe==2.1.1
multidict==6.0.4
pypika-tortoise==0.1.6
pytz==2022.7
requests==2.28.1
sanic==22.9.1
sanic-routing==22.8.0
tortoise-orm==0.19.2
typing_extensions==4.4.0
ujson==5.6.0
urllib3==1.26.13
uvloop==0.17.0
websockets==10.4
yarg==0.1.9
